:root {
	--true-viewport-width: 100vw; /* Fallback */
	--true-viewport-height: 100vh; /* Fallback */
	--grid-size: 26; /* Default grid size */
	--cell-width: calc(var(--true-viewport-width) / var(--grid-size));
	--cell-height: calc(var(--true-viewport-height) / var(--grid-size));
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	user-select: none;
	opacity: 0.9;
	font-family: sans-serif;
}

.container {
	display: block;
	width: 100vw;
	height: 100vh;
}

p {
	font-size: 1.1rem;
	color: white;
	mix-blend-mode: difference;
	margin: 0px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(var(--grid-size), var(--cell-width));
	grid-template-rows: repeat(var(--grid-size), var(--cell-height));
	width: var(--true-viewport-width);
	height: var(--true-viewport-height);
}

.grid-item {
	position: relative;
	border: 1px solid rgba(250, 250, 250, 0.8);
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.4);
}

.grid-item.unfocused {
	opacity: 0;
}

.coordinates {
	align-content: center;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.grid-item .bullseye {
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 0px;
	right: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	border: 1px solid rgba(0, 255, 0, 0.4);
}

.subgrid {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(3, 33%);
	border: 1px solid #ccc;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.subcell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(250, 250, 250, 0.2);
	cursor: pointer;
	font-size: 0.5rem;
	color: white;
}

/* .active .subcell.active-subcell {
	background-color: rgba(0, 255, 0, 0.2);
} */

.hidden {
	visibility: hidden;
}

.opacity-50 {
	opacity: 0.5;
}
